<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">
       	<!-- 配置DBCP数据源 -->
 <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://laijie.top:3306/meeting" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- 配置SessionFactory,由Spring容器来管理Hibernate -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		 <property name="configLocation">
		  <value>classpath:hibernate.cfg.xml</value>
		   </property> 
	</bean>
 
 
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 加载事务管理器  -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	               
	 <!-- 支持注解方式 -->
	  <context:annotation-config/>
	  <!-- 扫描包，需要spring创建的类的包 -->
<context:component-scan base-package="dao,action,service"/>
	  
</beans>